---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import BackgroundAnimation from '../../components/BackgroundAnimation.astro';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

const projects = (await getCollection('projects')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				padding-top: 0;
				padding-bottom: 0;
			}
			ul {
				list-style-type: none;
				margin: 0 -1em;
				padding: 0;
			}
			ul li {
				padding: 1.25rem 1em;
			}
			ul li + li {
				border-top: 1px solid var(--color-fg);
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li a {
				display: grid;
				grid-template-columns: 180px 1fr;
				gap: 1.25rem;
			}
			ul li a img {
				width: 100%;
				height: auto;
				border-radius: 8px;
			}
			.info {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				min-width: 0;
			}
			.title {
				margin: 0;
				color: var(--color-fg);
				line-height: 1.2;
				font-size: 1.5rem;
			}
			.dates {
				text-align: right;
			}
			.date {
				margin: 0;
				color: var(--color-fg);
				font-size: 1rem;
			}
			ul li a:hover .title,
			ul li a:hover .date {
				color: var(--color-accent);
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				ul li {
					padding: 1rem 1em;
				}
				ul li a {
					grid-template-columns: 1fr;
					text-align: center;
				}
				ul li a img {
					width: 100%;
					max-width: 300px;
				}
				.info {
					justify-content: normal;
					text-align: center;
				}
				.dates {
					text-align: center;
				}
			}
		</style>
	</head>
	<body>
		<BackgroundAnimation />
		<Header />
		<main>
			<section>
				<ul>
					{
						projects.map((project) => (
							<li>
								<a href={`/projects/${project.id}/`}>
									{project.data.heroImage && (
										<Image width={360} height={180} src={project.data.heroImage} alt="" />
									)}
									<div class="info">
										<h4 class="title">{project.data.title}</h4>
										<div class="dates">
											<p class="date">
												Published <FormattedDate date={project.data.pubDate} />
											</p>
											{project.data.updatedDate && (
												<p class="date">
													Last commit <FormattedDate date={project.data.updatedDate} />
												</p>
											)}
										</div>
									</div>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
