---
import fallbackImage from '../assets/blog-placeholder-1.jpg';
import BackgroundAnimation from '../components/BackgroundAnimation.astro';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';

interface Props {
	title: string;
	description: string;
	pubDate: Date;
	githubRepo?: string;
	heroImage?: any;
	lastCommitDate?: Date | null;
}

const { title, description, pubDate, heroImage, lastCommitDate, githubRepo } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />

	</head>

	<body>
		<BackgroundAnimation />
		<Header />
		<main>
			<article>
				{
					heroImage && (
						<div class="hero-image">
							<img width={1020} height={510} src={heroImage} alt="" onerror={`this.src='${fallbackImage.src}'`} />
						</div>
					)
				}
				<div class="content">
					<div class="title">
						<h1>{title}</h1>
						<div class="meta">
							{
								githubRepo && (
									<a class="repo" href={`https://github.com/${githubRepo}`}>{githubRepo}</a>
								)
							}
							<div class="date">
								<div>Published <FormattedDate date={pubDate} /></div>
								{
									lastCommitDate && (
										<div>Last commit <FormattedDate date={lastCommitDate} /></div>
									)
								}
							</div>
						</div>
					</div>
				</div>
				<hr />
				<div class="content">
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
