---
import fallbackImage from '../assets/blog-placeholder-1.jpg';
import BackgroundAnimation from '../components/BackgroundAnimation.astro';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';

interface Props {
	title: string;
	description: string;
	pubDate: Date;
	githubRepo?: string;
	heroImage?: any;
	lastCommitDate?: Date | null;
	showGoBack?: boolean;
}

const { title, description, pubDate, heroImage, lastCommitDate, showGoBack } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />

	</head>

	<body>
		<BackgroundAnimation />
		<Header />
		<main>
			<article>
				{showGoBack && <a href="/projects/" class="go-back">Go Back</a>}
				<div class="hero-image">
					{heroImage && <img width={1020} height={510} src={heroImage} alt="" onerror={`this.src='${fallbackImage.src}'`} />}
				</div><div class="prose">
					<div class="title">
						<h1>{title}</h1>
						<div class="date">
							Published <FormattedDate date={pubDate} />
							{
								lastCommitDate && (
									<div>
										Last commit <FormattedDate date={lastCommitDate} />
									</div>
								)
							}
						</div>
					</div>
				</div>
				<hr />
				<div class="prose">
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
