---
import { Image } from 'astro:assets';
import BackgroundAnimation from '../components/BackgroundAnimation.astro';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';

interface Props {
	title: string;
	description: string;
	pubDate: Date;
	githubRepo?: string;
	heroImage?: any;
	lastCommitDate?: Date | null;
}

const { title, description, pubDate, heroImage, lastCommitDate } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<BackgroundAnimation />
		<Header />
		<main>
			<article>
				<div class="hero-image">
					{heroImage && <Image width={1020} height={510} src={heroImage} alt="" />}
				</div>
				<div class="prose">
					<div class="title">
						<div class="date">
							Published <FormattedDate date={pubDate} />
							{
								lastCommitDate && (
									<div class="last-updated-on">
										Last updated <FormattedDate date={lastCommitDate} />
									</div>
								)
							}
						</div>
						<h1>{title}</h1>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
